* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #fff;
  font: 1rem Helvetica;
  letter-spacing: 0.5px;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 185px auto;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "header header"
    "sidebar map";
}
.header {
  grid-area: header;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  display: flex;
  padding: 8px;
}
.credentials {
  gap: 12px;
  opacity: 0.6;
  display: flex;
  align-items: center;
  transition: opacity 150ms;
  will-change: opacity;
}
.header:hover .credentials {
  opacity: 1;
}
.sidebar {
  grid-area: sidebar;
  background-color: #666;
  text-align: center;
  overflow: auto;
  padding: 8px;
}
#name {
  font-size: 2rem;
}
#map {
  grid-area: map;
}
#data {
  display: flex;
  flex-direction: column;
  will-change: transform;
  margin-top: 8px;
  gap: 4px;
}
.gh {
  color: #111;
  font-weight: bold;
  font-size: 0.75rem;
  position: fixed;
  bottom: 8px;
  left: 8px;
}
